<li class="category-filter__item category-filter__item--level-0">
      <div class="category-filter__row" bis_skin_checked="1">
         <label class="category-filter__label">
         <input type="checkbox" class="category-filter__checkbox" data-url="/collections/power-line" data-handle="power-line">
         <span class="category-filter__name">Power Line</span>
         </label>
         <button class="category-filter__toggle" aria-label="Toggle Power Line">
            <span class="category-filter__arrow">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
               </svg>
            </span>
         </button>
      </div>
      <ul class="category-filter__list category-filter__list--level-1" style="display: none;">
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/diagnostic-exam" data-handle="diagnostic-exam">
               <span class="category-filter__name">Diagnostic &amp; Exam</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Diagnostic &amp; Exam">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: none;">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/explorers-probes" data-handle="explorers-probes">
                     <span class="category-filter__name">Explorers &amp; Probes</span>
                     </label><button class="category-filter__toggle" aria-label="Toggle Explorers &amp; Probes">
                     </button>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/mirrors-handles" data-handle="mirrors-handles">
                     <span class="category-filter__name">Mirrors &amp; Handles</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/hygiene-implant-maintenance" data-handle="hygiene-implant-maintenance">
               <span class="category-filter__name">Hygiene &amp; Implant Maintenance</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Hygiene &amp; Implant Maintenance">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: none;">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/scalers" data-handle="scalers">
                     <span class="category-filter__name">Scalers</span>
                     </label><button class="category-filter__toggle" aria-label="Toggle Scalers">
                     </button>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/curettes" data-handle="curettes">
                     <span class="category-filter__name">Curettes</span>
                     </label><button class="category-filter__toggle" aria-label="Toggle Curettes">
                     </button>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/atraumatic-extraction" data-handle="atraumatic-extraction">
               <span class="category-filter__name">Atraumatic Extraction</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Atraumatic Extraction">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: none;">
               <li class="category-filter__item category-filter__item--level-2 open">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/periosteal-elevators" data-handle="periosteal-elevators">
                     <span class="category-filter__name">Periosteal Elevators</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2 open">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/periotomes" data-handle="periotomes">
                     <span class="category-filter__name">Periotomes</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2 open">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/luxators" data-handle="luxators">
                     <span class="category-filter__name">Luxators</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2 open">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/elevators" data-handle="elevators">
                     <span class="category-filter__name">Elevators</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/root-tip-removal" data-handle="root-tip-removal">
                     <span class="category-filter__name">Root-Tip Removal</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2 open">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/extraction-forceps" data-handle="extraction-forceps">
                     <span class="category-filter__name">Extraction Forceps</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/debridement-curettes" data-handle="debridement-curettes">
                     <span class="category-filter__name">Debridement Curettes</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1 open">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/crown-removal" data-handle="crown-removal">
               <span class="category-filter__name">Crown Removal</span>
               </label>
            </div>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/soft-tissue-flap-management" data-handle="soft-tissue-flap-management">
               <span class="category-filter__name">Soft Tissue &amp; Flap Management</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Soft Tissue &amp; Flap Management">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: none;">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/tunneling-instruments" data-handle="tunneling-instruments">
                     <span class="category-filter__name">Tunneling Instruments</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/expanders-periosteum-release" data-handle="expanders-periosteum-release">
                     <span class="category-filter__name">Expanders &amp; Periosteum Release</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/tissue-forceps-retractors" data-handle="tissue-forceps-retractors">
                     <span class="category-filter__name">Tissue Forceps &amp; Retractors</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/scalpel-handles" data-handle="scalpel-handles">
                     <span class="category-filter__name">Scalpel Handles</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/suturing-instruments" data-handle="suturing-instruments">
               <span class="category-filter__name">Suturing Instruments</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Suturing Instruments">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: none;">
               <li class="category-filter__item category-filter__item--level-2 open">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/needle-holders" data-handle="needle-holders">
                     <span class="category-filter__name">Needle Holders</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/surgical-scissors" data-handle="surgical-scissors">
                     <span class="category-filter__name">Surgical Scissors</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1 open">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/implant-placement-aids" data-handle="implant-placement-aids">
               <span class="category-filter__name">Implant Placement Aids</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Implant Placement Aids">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: block;">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/torque-drivers" data-handle="torque-drivers">
                     <span class="category-filter__name">Torque &amp; Drivers</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/guides-positioners" data-handle="guides-positioners">
                     <span class="category-filter__name">Guides &amp; Positioners</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/kits-cassettes" data-handle="kits-cassettes">
               <span class="category-filter__name">Kits &amp; Cassettes</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Kits &amp; Cassettes">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: none;">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/hygiene-kits" data-handle="hygiene-kits">
                     <span class="category-filter__name">Hygiene Kits</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/extraction-kits" data-handle="extraction-kits">
                     <span class="category-filter__name">Extraction Kits</span>
                     </label>
                     <button class="category-filter__toggle" aria-label="Toggle Extraction Kits">
                        <span class="category-filter__arrow">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                              <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                           </svg>
                        </span>
                     </button>
                  </div>
                  <ul class="category-filter__list category-filter__list--level-3" style="display:none">
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/periosteal-elevator-kits" data-handle="periosteal-elevator-kits">
                           <span class="category-filter__name">Periosteal Elevator Kits</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/elevator-kits" data-handle="elevator-kits">
                           <span class="category-filter__name">Elevator Kits</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/luxator-kits" data-handle="luxator-kits">
                           <span class="category-filter__name">Luxator Kits</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/periotome-kits" data-handle="periotome-kits">
                           <span class="category-filter__name">Periotome Kits</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/debridement-kits" data-handle="debridement-kits">
                           <span class="category-filter__name">Debridement Kits</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/extraction-forceps-kits" data-handle="extraction-forceps-kits">
                           <span class="category-filter__name">Extraction Forceps Kits</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/root-tip-root-removal-kits" data-handle="root-tip-root-removal-kits">
                           <span class="category-filter__name">Root Tip / Root Removal Kits</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/vertical-extraction-system" data-handle="vertical-extraction-system">
                           <span class="category-filter__name">Vertical Extraction System</span>
                           </label>
                        </div>
                     </li>
                  </ul>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/crown-removal-kits" data-handle="crown-removal-kits">
                     <span class="category-filter__name">Crown Removal Kits</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/soft-tissue-flap-management-kits" data-handle="soft-tissue-flap-management-kits">
                     <span class="category-filter__name">Soft Tissue &amp; Flap Management Kits</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/instrument-cassettes-trays" data-handle="instrument-cassettes-trays">
                     <span class="category-filter__name">Instrument Cassettes &amp; Trays</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1 open">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/black-edition" data-handle="black-edition">
               <span class="category-filter__name">Black Edition</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Black Edition">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: block;">
               <li class="category-filter__item category-filter__item--level-2 open">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/diagnostic-exam" data-handle="diagnostic-exam">
                     <span class="category-filter__name">Diagnostic &amp; Exam</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2 open">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/hygiene-implant-maintenance" data-handle="hygiene-implant-maintenance">
                     <span class="category-filter__name">Hygiene &amp; Implant Maintenance</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2 open">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/atraumatic-extraction" data-handle="atraumatic-extraction">
                     <span class="category-filter__name">Atraumatic Extraction</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2 open">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/soft-tissue-flap-management" data-handle="soft-tissue-flap-management">
                     <span class="category-filter__name">Soft Tissue &amp; Flap Management</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2 open">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/needle-holders" data-handle="needle-holders">
                     <span class="category-filter__name">Needle Holders</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/surgical-scissors" data-handle="surgical-scissors">
                     <span class="category-filter__name">Surgical Scissors</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
      </ul>
   </li>

   <li class="category-filter__item category-filter__item--level-0">
      <div class="category-filter__row" bis_skin_checked="1">
         <label class="category-filter__label">
         <input type="checkbox" class="category-filter__checkbox" data-url="/collections/hygiene" data-handle="hygiene">
         <span class="category-filter__name">Hygiene</span>
         </label>
         <button class="category-filter__toggle" aria-label="Toggle Hygiene">
            <span class="category-filter__arrow">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
               </svg>
            </span>
         </button>
      </div>
      <ul class="category-filter__list category-filter__list--level-1" style="display: none;">
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/scalers" data-handle="scalers">
               <span class="category-filter__name">Scalers</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Scalers">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: none;">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/sickle-scalers" data-handle="sickle-scalers">
                     <span class="category-filter__name">Sickle Scalers</span>
                     </label>
                     <button class="category-filter__toggle" aria-label="Toggle Sickle Scalers">
                        <span class="category-filter__arrow">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                              <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                           </svg>
                        </span>
                     </button>
                  </div>
                  <ul class="category-filter__list category-filter__list--level-3" style="display:none">
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/anterior-sickle-scalers" data-handle="anterior-sickle-scalers">
                           <span class="category-filter__name">Anterior Sickle Scalers</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/posterior-sickle-scalers" data-handle="posterior-sickle-scalers">
                           <span class="category-filter__name">Posterior Sickle Scalers</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/universal-sickle-scalers" data-handle="universal-sickle-scalers">
                           <span class="category-filter__name">Universal Sickle Scalers</span>
                           </label>
                        </div>
                     </li>
                  </ul>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/ball-scalers" data-handle="ball-scalers">
                     <span class="category-filter__name">Ball Scalers</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/curettes" data-handle="curettes">
               <span class="category-filter__name">Curettes</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Curettes">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: none;">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/universal-curettes" data-handle="universal-curettes">
                     <span class="category-filter__name">Universal Curettes</span>
                     </label>
                     <button class="category-filter__toggle" aria-label="Toggle Universal Curettes">
                        <span class="category-filter__arrow">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                              <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                           </svg>
                        </span>
                     </button>
                  </div>
                  <ul class="category-filter__list category-filter__list--level-3" style="display:none">
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/barnhart-curettes" data-handle="barnhart-curettes">
                           <span class="category-filter__name">Barnhart Curettes</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/columbia-curettes" data-handle="columbia-curettes">
                           <span class="category-filter__name">Columbia Curettes</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/langer-curettes" data-handle="langer-curettes">
                           <span class="category-filter__name">Langer Curettes</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/mccall-curettes" data-handle="mccall-curettes">
                           <span class="category-filter__name">McCall Curettes</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/specialty-universal-curettes" data-handle="specialty-universal-curettes">
                           <span class="category-filter__name">Specialty Universal Curettes</span>
                           </label>
                        </div>
                     </li>
                  </ul>
               </li>
               <li class="category-filter__item category-filter__item--level-2 open">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/gracey-curettes" data-handle="gracey-curettes">
                     <span class="category-filter__name">Gracey Curettes</span>
                     </label>
                     <button class="category-filter__toggle" aria-label="Toggle Gracey Curettes">
                        <span class="category-filter__arrow">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                              <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                           </svg>
                        </span>
                     </button>
                  </div>
                  <ul class="category-filter__list category-filter__list--level-3" style="display: block;">
                     <li class="category-filter__item category-filter__item--level-3 open">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/standard-gracey-curettes" data-handle="standard-gracey-curettes">
                           <span class="category-filter__name">Standard Gracey Curettes</span>
                           </label>
                           <button class="category-filter__toggle" aria-label="Toggle Standard Gracey Curettes">
                              <span class="category-filter__arrow">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                                 </svg>
                              </span>
                           </button>
                        </div>
                        <ul class="category-filter__list category-filter__list--level-4" style="display: block;">
                           <li class="category-filter__item category-filter__item--level-4">
                              <div class="category-filter__row" bis_skin_checked="1">
                                 <label class="category-filter__label">
                                 <input type="checkbox" class="category-filter__checkbox" data-url="/collections/anterior-gracey-curettes" data-handle="anterior-gracey-curettes">
                                 <span class="category-filter__name">Anterior Gracey Curettes</span>
                                 </label>
                              </div>
                           </li>
                           <li class="category-filter__item category-filter__item--level-4">
                              <div class="category-filter__row" bis_skin_checked="1">
                                 <label class="category-filter__label">
                                 <input type="checkbox" class="category-filter__checkbox" data-url="/collections/posterior-gracey-curettes" data-handle="posterior-gracey-curettes">
                                 <span class="category-filter__name">Posterior Gracey Curettes</span>
                                 </label>
                              </div>
                           </li>
                        </ul>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/after-five-gracey-curettes" data-handle="after-five-gracey-curettes">
                           <span class="category-filter__name">After Five Gracey Curettes</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/rigid-gracey-curettes" data-handle="rigid-gracey-curettes">
                           <span class="category-filter__name">Rigid Gracey Curettes</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/mini-gracey-curettes" data-handle="mini-gracey-curettes">
                           <span class="category-filter__name">Mini Gracey Curettes</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/after-five-mini-gracey-curettes" data-handle="after-five-mini-gracey-curettes">
                           <span class="category-filter__name">After Five Mini Gracey Curettes</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/after-five-micro-mini-gracey-curettes" data-handle="after-five-micro-mini-gracey-curettes">
                           <span class="category-filter__name">After Five Micro-Mini Gracey Curettes</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/specialty-gracey-curettes" data-handle="specialty-gracey-curettes">
                           <span class="category-filter__name">Specialty Gracey Curettes</span>
                           </label>
                        </div>
                     </li>
                  </ul>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/specialty-curettes" data-handle="specialty-curettes">
                     <span class="category-filter__name">Specialty Curettes</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/hoes-chisels" data-handle="hoes-chisels">
               <span class="category-filter__name">Hoes &amp; Chisels</span>
               </label>
            </div>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/files" data-handle="files">
               <span class="category-filter__name">Files</span>
               </label>
            </div>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/hygiene-kits" data-handle="hygiene-kits">
               <span class="category-filter__name">Hygiene Kits</span>
               </label>
            </div>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/accessories-misc" data-handle="accessories-misc">
               <span class="category-filter__name">Accessories &amp; Misc.</span>
               </label>
            </div>
         </li>
      </ul>
   </li>

    <li class="category-filter__item category-filter__item--level-0">
      <div class="category-filter__row" bis_skin_checked="1">
         <label class="category-filter__label">
         <input type="checkbox" class="category-filter__checkbox" data-url="/collections/diagnostic" data-handle="diagnostic">
         <span class="category-filter__name">Diagnostic</span>
         </label>
         <button class="category-filter__toggle" aria-label="Toggle Diagnostic">
            <span class="category-filter__arrow">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
               </svg>
            </span>
         </button>
      </div>
      <ul class="category-filter__list category-filter__list--level-1" style="display: none;">
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/explorers-probes" data-handle="explorers-probes">
               <span class="category-filter__name">Explorers &amp; Probes</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Explorers &amp; Probes">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: none;">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/explorers" data-handle="explorers">
                     <span class="category-filter__name">Explorers</span>
                     </label>
                     <button class="category-filter__toggle" aria-label="Toggle Explorers">
                        <span class="category-filter__arrow">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                              <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                           </svg>
                        </span>
                     </button>
                  </div>
                  <ul class="category-filter__list category-filter__list--level-3" style="display: none;">
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/single-ended-explorers" data-handle="single-ended-explorers">
                           <span class="category-filter__name">Single-Ended Explorers</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/double-ended-explorers" data-handle="double-ended-explorers">
                           <span class="category-filter__name">Double-Ended Explorers</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/specialty-explorers" data-handle="specialty-explorers">
                           <span class="category-filter__name">Specialty Explorers</span>
                           </label>
                        </div>
                     </li>
                  </ul>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/probes" data-handle="probes">
                     <span class="category-filter__name">Probes</span>
                     </label>
                     <button class="category-filter__toggle" aria-label="Toggle Probes">
                        <span class="category-filter__arrow">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                              <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                           </svg>
                        </span>
                     </button>
                  </div>
                  <ul class="category-filter__list category-filter__list--level-3" style="display:none">
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/endodontic-probes" data-handle="endodontic-probes">
                           <span class="category-filter__name">Endodontic Probes</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/periodontal-probes" data-handle="periodontal-probes">
                           <span class="category-filter__name">Periodontal Probes</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/probe-sets" data-handle="probe-sets">
                           <span class="category-filter__name">Probe Sets</span>
                           </label>
                        </div>
                     </li>
                  </ul>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/combination-double-ended" data-handle="combination-double-ended">
                     <span class="category-filter__name">Combination / Double-Ended</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/mirrors" data-handle="mirrors">
               <span class="category-filter__name">Mirrors</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Mirrors">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display:none">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/complete-mirrors" data-handle="complete-mirrors">
                     <span class="category-filter__name">Complete Mirrors</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/mirror-handles" data-handle="mirror-handles">
                     <span class="category-filter__name">Mirror Handles</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/mirror-heads" data-handle="mirror-heads">
                     <span class="category-filter__name">Mirror Heads</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/photographic-mirrors" data-handle="photographic-mirrors">
                     <span class="category-filter__name">Photographic Mirrors</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/calipers" data-handle="calipers">
               <span class="category-filter__name">Calipers</span>
               </label>
            </div>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/diagnostic-kits" data-handle="diagnostic-kits">
               <span class="category-filter__name">Diagnostic Kits</span>
               </label>
            </div>
         </li>
      </ul>
   </li>

   