<li class="category-filter__item category-filter__item--level-0">
      <div class="category-filter__row" bis_skin_checked="1">
         <label class="category-filter__label">
         <input type="checkbox" class="category-filter__checkbox" data-url="/collections/restorative" data-handle="restorative">
         <span class="category-filter__name">Restorative</span>
         </label>
         <button class="category-filter__toggle" aria-label="Toggle Restorative">
            <span class="category-filter__arrow">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
               </svg>
            </span>
         </button>
      </div>
      <ul class="category-filter__list category-filter__list--level-1" style="display: none;">
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/tooth-preparation" data-handle="tooth-preparation">
               <span class="category-filter__name">Tooth preparation</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Tooth preparation">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: none;">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/chisels" data-handle="chisels">
                     <span class="category-filter__name">Chisels</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/hatchets" data-handle="hatchets">
                     <span class="category-filter__name">Hatchets</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/margin-trimmers" data-handle="margin-trimmers">
                     <span class="category-filter__name">Margin Trimmers</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/excavators" data-handle="excavators">
                     <span class="category-filter__name">Excavators</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/impression-occlusion-instruments" data-handle="impression-occlusion-instruments">
               <span class="category-filter__name">Impression &amp; Occlusion Instruments</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Impression &amp; Occlusion Instruments">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: none;">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/impression-trays" data-handle="impression-trays">
                     <span class="category-filter__name">Impression Trays</span>
                     </label>
                     <button class="category-filter__toggle" aria-label="Toggle Impression Trays">
                        <span class="category-filter__arrow">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                              <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                           </svg>
                        </span>
                     </button>
                  </div>
                  <ul class="category-filter__list category-filter__list--level-3" style="display: none;">
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/solid-trays" data-handle="solid-trays">
                           <span class="category-filter__name">Solid Trays</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/perforated-trays" data-handle="perforated-trays">
                           <span class="category-filter__name">Perforated Trays</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/denture-trays" data-handle="denture-trays">
                           <span class="category-filter__name">Denture Trays</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/special-sectional-trays" data-handle="special-sectional-trays">
                           <span class="category-filter__name">Special &amp; Sectional Trays</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/disposable-trays" data-handle="disposable-trays">
                           <span class="category-filter__name">Disposable Trays</span>
                           </label>
                        </div>
                     </li>
                  </ul>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/gingival-retractors" data-handle="gingival-retractors">
                     <span class="category-filter__name">Gingival Retractors</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/articulating-paper-forceps" data-handle="articulating-paper-forceps">
                     <span class="category-filter__name">Articulating Paper Forceps</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/waxing-occlusion-accessories" data-handle="waxing-occlusion-accessories">
                     <span class="category-filter__name">Waxing &amp; Occlusion Accessories</span>
                     </label>
                     <button class="category-filter__toggle" aria-label="Toggle Waxing &amp; Occlusion Accessories">
                        <span class="category-filter__arrow">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                              <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                           </svg>
                        </span>
                     </button>
                  </div>
                  <ul class="category-filter__list category-filter__list--level-3" style="display:none">
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/wax-carvers-waxing-instruments" data-handle="wax-carvers-waxing-instruments">
                           <span class="category-filter__name">Wax Carvers &amp; Waxing Instruments</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/wax-knives" data-handle="wax-knives">
                           <span class="category-filter__name">Wax Knives</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/cord-packers" data-handle="cord-packers">
                           <span class="category-filter__name">Cord Packers</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/spatulas" data-handle="spatulas">
                           <span class="category-filter__name">Spatulas</span>
                           </label>
                        </div>
                     </li>
                     <li class="category-filter__item category-filter__item--level-3">
                        <div class="category-filter__row" bis_skin_checked="1">
                           <label class="category-filter__label">
                           <input type="checkbox" class="category-filter__checkbox" data-url="/collections/waxing-accessories" data-handle="waxing-accessories">
                           <span class="category-filter__name">Waxing Accessories</span>
                           </label>
                        </div>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/carving-contouring-instruments" data-handle="carving-contouring-instruments">
               <span class="category-filter__name">Carving &amp; Contouring Instruments</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Carving &amp; Contouring Instruments">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display:none">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/carvers" data-handle="carvers">
                     <span class="category-filter__name">Carvers</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/burnishers" data-handle="burnishers">
                     <span class="category-filter__name">Burnishers</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/plastic-filling-instruments" data-handle="plastic-filling-instruments">
                     <span class="category-filter__name">Plastic Filling Instruments</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/composite-shaping-instruments" data-handle="composite-shaping-instruments">
                     <span class="category-filter__name">Composite Shaping Instruments</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/condensers-pluggers" data-handle="condensers-pluggers">
               <span class="category-filter__name">Condensers &amp; Pluggers</span>
               </label>
            </div>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/crown-removal" data-handle="crown-removal">
               <span class="category-filter__name">Crown Removal</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Crown Removal">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display:none">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/crown-scissors" data-handle="crown-scissors">
                     <span class="category-filter__name">Crown Scissors</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/crown-spreaders" data-handle="crown-spreaders">
                     <span class="category-filter__name">Crown Spreaders</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/crown-pliers" data-handle="crown-pliers">
                     <span class="category-filter__name">Crown Pliers</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/crown-grippers" data-handle="crown-grippers">
                     <span class="category-filter__name">Crown Grippers</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/crown-removers" data-handle="crown-removers">
                     <span class="category-filter__name">Crown Removers</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/amalgam-instruments" data-handle="amalgam-instruments">
               <span class="category-filter__name">Amalgam Instruments</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Amalgam Instruments">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display:none">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/amalgam-carriers" data-handle="amalgam-carriers">
                     <span class="category-filter__name">Amalgam Carriers</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/amalgam-hand-instruments" data-handle="amalgam-hand-instruments">
                     <span class="category-filter__name">Amalgam Hand Instruments</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/matrix-instruments" data-handle="matrix-instruments">
               <span class="category-filter__name">Matrix Instruments</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Matrix Instruments">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display:none">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/matrix-retainers" data-handle="matrix-retainers">
                     <span class="category-filter__name">Matrix Retainers</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/matrix-forceps" data-handle="matrix-forceps">
                     <span class="category-filter__name">Matrix Forceps</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/polishing-instruments" data-handle="polishing-instruments">
               <span class="category-filter__name">Polishing Instruments</span>
               </label>
            </div>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/restorative-kits" data-handle="restorative-kits">
               <span class="category-filter__name">Restorative Kits</span>
               </label>
            </div>
         </li>
      </ul>
   </li>
   <li class="category-filter__item category-filter__item--level-0">
      <div class="category-filter__row" bis_skin_checked="1">
         <label class="category-filter__label">
         <input type="checkbox" class="category-filter__checkbox" data-url="/collections/endodontic" data-handle="endodontic">
         <span class="category-filter__name">Endodontic</span>
         </label>
         <button class="category-filter__toggle" aria-label="Toggle Endodontic">
            <span class="category-filter__arrow">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
               </svg>
            </span>
         </button>
      </div>
      <ul class="category-filter__list category-filter__list--level-1" style="display: none;">
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/endo-pluggers-condensers" data-handle="endo-pluggers-condensers">
               <span class="category-filter__name">Endo Pluggers &amp; Condensers</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Endo Pluggers &amp; Condensers">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display:none">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/standard-endo-pluggers" data-handle="standard-endo-pluggers">
                     <span class="category-filter__name">Standard Endo Pluggers</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/niti-pluggers" data-handle="niti-pluggers">
                     <span class="category-filter__name">NiTi Pluggers</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/glick-specialty-pluggers" data-handle="glick-specialty-pluggers">
                     <span class="category-filter__name">Glick &amp; Specialty Pluggers</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/gutta-percha-application" data-handle="gutta-percha-application">
               <span class="category-filter__name">Gutta-percha Application</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Gutta-percha Application">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display:none">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/spreaders" data-handle="spreaders">
                     <span class="category-filter__name">Spreaders</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/heat-carriers" data-handle="heat-carriers">
                     <span class="category-filter__name">Heat Carriers</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/forceps-pliers" data-handle="forceps-pliers">
               <span class="category-filter__name">Forceps &amp; Pliers</span>
               </label>
            </div>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/rubber-dam-instruments" data-handle="rubber-dam-instruments">
               <span class="category-filter__name">Rubber Dam Instruments</span>
               </label>
            </div>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/endo-accessories-misc" data-handle="endo-accessories-misc">
               <span class="category-filter__name">Endo Accessories &amp; Misc.</span>
               </label>
            </div>
         </li>
      </ul>
   </li>
   <li class="category-filter__item category-filter__item--level-0">
      <div class="category-filter__row" bis_skin_checked="1">
         <label class="category-filter__label">
         <input type="checkbox" class="category-filter__checkbox" data-url="/collections/orthodontic" data-handle="orthodontic">
         <span class="category-filter__name">Orthodontic</span>
         </label>
         <button class="category-filter__toggle" aria-label="Toggle Orthodontic">
            <span class="category-filter__arrow">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
               </svg>
            </span>
         </button>
      </div>
      <ul class="category-filter__list category-filter__list--level-1" style="display: none;">
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/pliers" data-handle="pliers">
               <span class="category-filter__name">Pliers</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Pliers">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: none;">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/weingart-pliers" data-handle="weingart-pliers">
                     <span class="category-filter__name">Weingart Pliers</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/adhesive-band-removing-pliers" data-handle="adhesive-band-removing-pliers">
                     <span class="category-filter__name">Adhesive &amp; Band Removing Pliers</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/bracket-removing-pliers" data-handle="bracket-removing-pliers">
                     <span class="category-filter__name">Bracket Removing Pliers</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/wire-loop-forming-pliers" data-handle="wire-loop-forming-pliers">
                     <span class="category-filter__name">Wire &amp; Loop Forming Pliers</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/bird-beak-utility-pliers" data-handle="bird-beak-utility-pliers">
                     <span class="category-filter__name">Bird Beak &amp; Utility Pliers</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/specialty-pliers" data-handle="specialty-pliers">
                     <span class="category-filter__name">Specialty Pliers</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/cutters" data-handle="cutters">
               <span class="category-filter__name">Cutters</span>
               </label>
            </div>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/orthodontic-instruments" data-handle="orthodontic-instruments">
               <span class="category-filter__name">Orthodontic Instruments</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Orthodontic Instruments">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: none;">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/band-instruments" data-handle="band-instruments">
                     <span class="category-filter__name">Band Instruments</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/ligature-instruments" data-handle="ligature-instruments">
                     <span class="category-filter__name">Ligature Instruments</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/elastic-separator-instruments" data-handle="elastic-separator-instruments">
                     <span class="category-filter__name">Elastic &amp; Separator Instruments</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/tweezers" data-handle="tweezers">
                     <span class="category-filter__name">Tweezers</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/gauges-positioners" data-handle="gauges-positioners">
                     <span class="category-filter__name">Gauges &amp; Positioners</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/racks-holders" data-handle="racks-holders">
                     <span class="category-filter__name">Racks &amp; Holders</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/specialty-ortho-instruments" data-handle="specialty-ortho-instruments">
                     <span class="category-filter__name">Specialty Ortho Instruments</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/disc-guards-protectors" data-handle="disc-guards-protectors">
                     <span class="category-filter__name">Disc Guards / Protectors</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
      </ul>
   </li>
   <li class="category-filter__item category-filter__item--level-0">
      <div class="category-filter__row" bis_skin_checked="1">
         <label class="category-filter__label">
         <input type="checkbox" class="category-filter__checkbox" data-url="/collections/headlamps-loupes" data-handle="headlamps-loupes">
         <span class="category-filter__name">Headlamps &amp; Loupes</span>
         </label>
         <button class="category-filter__toggle" aria-label="Toggle Headlamps &amp; Loupes">
            <span class="category-filter__arrow">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
               </svg>
            </span>
         </button>
      </div>
      <ul class="category-filter__list category-filter__list--level-1" style="display: none;">
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/headlamps" data-handle="headlamps">
               <span class="category-filter__name">Headlamps</span>
               </label>
            </div>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/loupes" data-handle="loupes">
               <span class="category-filter__name">Loupes</span>
               </label>
            </div>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/cameras" data-handle="cameras">
               <span class="category-filter__name">Cameras</span>
               </label>
            </div>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/accessories" data-handle="accessories">
               <span class="category-filter__name">Accessories</span>
               </label>
            </div>
         </li>
      </ul>
   </li>
   <li class="category-filter__item category-filter__item--level-0">
      <div class="category-filter__row" bis_skin_checked="1">
         <label class="category-filter__label">
         <input type="checkbox" class="category-filter__checkbox" data-url="/collections/cassettes-accessories" data-handle="cassettes-accessories">
         <span class="category-filter__name">Cassettes &amp; Accessories</span>
         </label>
         <button class="category-filter__toggle" aria-label="Toggle Cassettes &amp; Accessories">
            <span class="category-filter__arrow">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
               </svg>
            </span>
         </button>
      </div>
      <ul class="category-filter__list category-filter__list--level-1" style="display: none;">
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/cassettes" data-handle="cassettes">
               <span class="category-filter__name">Cassettes</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle Cassettes">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: none;">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/endodontic-cassettes" data-handle="endodontic-cassettes">
                     <span class="category-filter__name">Endodontic Cassettes</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/utility-cassettes" data-handle="utility-cassettes">
                     <span class="category-filter__name">Utility Cassettes</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/implant-cassettes" data-handle="implant-cassettes">
                     <span class="category-filter__name">Implant Cassettes</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/surgical-cassettes" data-handle="surgical-cassettes">
                     <span class="category-filter__name">Surgical Cassettes</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/gbr-prf-cassettes" data-handle="gbr-prf-cassettes">
                     <span class="category-filter__name">GBR &amp; PRF Cassettes</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/bur-piezo-tip-cassettes" data-handle="bur-piezo-tip-cassettes">
                     <span class="category-filter__name">Bur &amp; Piezo Tip Cassettes</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/cassette-accessories" data-handle="cassette-accessories">
                     <span class="category-filter__name">Cassette Accessories</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
         <li class="category-filter__item category-filter__item--level-1">
            <div class="category-filter__row" bis_skin_checked="1">
               <label class="category-filter__label">
               <input type="checkbox" class="category-filter__checkbox" data-url="/collections/prf-centrifuges-accessories" data-handle="prf-centrifuges-accessories">
               <span class="category-filter__name">PRF &amp; Centrifuges Accessories</span>
               </label>
               <button class="category-filter__toggle" aria-label="Toggle PRF &amp; Centrifuges Accessories">
                  <span class="category-filter__arrow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 11.7178C8.08785 11.7177 8.1751 11.6996 8.25586 11.665C8.33661 11.6304 8.4091 11.5792 8.46973 11.5156L13.7803 5.94238C13.8953 5.82153 13.96 5.66102 13.96 5.49414C13.9599 5.32724 13.8954 5.16673 13.7803 5.0459L13.7715 5.03711L13.7705 5.03809C13.7141 4.97945 13.6471 4.93153 13.5723 4.89941C13.4964 4.86689 13.4146 4.85059 13.332 4.85059C13.2494 4.85059 13.1677 4.86689 13.0918 4.89941C13.0158 4.93205 12.9466 4.98005 12.8896 5.04004L8 10.1738L3.10938 5.04004C3.05239 4.98005 2.98325 4.93205 2.90723 4.89941C2.83133 4.8669 2.74957 4.85059 2.66699 4.85059C2.5844 4.85059 2.50267 4.86688 2.42676 4.89941C2.35173 4.93163 2.28408 4.9792 2.22754 5.03809V5.03711L2.21875 5.0459C2.10365 5.16673 2.0391 5.32726 2.03906 5.49414C2.03906 5.661 2.1037 5.82154 2.21875 5.94238L7.5293 11.5156C7.58992 11.5792 7.66242 11.6304 7.74316 11.665C7.82406 11.6997 7.91199 11.7178 8 11.7178Z" fill="#141132" stroke="#141132" stroke-width="0.3"></path>
                     </svg>
                  </span>
               </button>
            </div>
            <ul class="category-filter__list category-filter__list--level-2" style="display: none;">
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/centrifuges-accessories" data-handle="centrifuges-accessories">
                     <span class="category-filter__name">Centrifuges &amp; Accessories</span>
                     </label>
                  </div>
               </li>
               <li class="category-filter__item category-filter__item--level-2">
                  <div class="category-filter__row" bis_skin_checked="1">
                     <label class="category-filter__label">
                     <input type="checkbox" class="category-filter__checkbox" data-url="/collections/tourniquets" data-handle="tourniquets">
                     <span class="category-filter__name">Tourniquets</span>
                     </label>
                  </div>
               </li>
            </ul>
         </li>
      </ul>    
   </li>