<section class="kitting-form" style="background-color: {{ section.settings.background_color }};">
  <div class="page-width">
        {% if section.settings.sub_title != blank or section.settings.section_title != blank %}
            <div class="kittng-header">
                {% if section.settings.sub_title != blank %}
                    <p class="sub_title">{{ section.settings.sub_title }}</p>
                {% endif %}
                {% if section.settings.section_title != blank %}
                    <h2 class="ktititle">{{ section.settings.section_title }}</h2>
                {% endif %}
            </div>
        {% endif %}

        <div class="form-wrap-ks">
            {{ section.settings.liqud }}
        </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Kitting Form",
  "settings": [
     {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#ffffff"
      },
      {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    },
    {
      "type": "liquid",
      "id": "liqud",
      "label": "Hubspot Embed"
    }
  ],
  "presets": [
    {
      "name": "Kitting Form"
    }
  ]
}
{% endschema %}


<style>
  section.kitting-form {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 60px 0;
}

section.kitting-form .kittng-header {
    text-align: center;
    margin: 0 0 30px;
}

.form-wrap-ks .hs-richtext.hs-main-font-element {
    display: none;
}

.form-wrap-ks form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.form-wrap-ks form .field:after {
  display: none;
}

.form-wrap-ks form  .hs_email.hs-email.hs-fieldtype-text.field.hs-form-field label {
    color: #01000A;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.form-wrap-ks form .hs-form-field {
    margin: 0 !important;
    flex-direction: column;
    gap: 10px;
}

.form-wrap-ks form > div:first-of-type {
    display: none;
}

.form-wrap-ks form .hs-form-field input {
    padding: 13px 20px;
    width: 100%;
    background-color: #fff !important;
    border: unset;
    border: 1px solid #D9D9D9 !important;
    background: #FFF;
    border-radius: unset !important;
    color: #01000A;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 22px; /* 157.143% */
    margin: 0 !important;
    min-height: 50px;
}

.form-wrap-ks form .hs-form-field label, .form-wrap-ks form .hs-form-field label span {
    color: #01000A;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.form-wrap-ks form .hs-form-field select {
    padding: 13px 20px;
    width: 100%;
    background-color: #fff !important;
    border: unset;
    border: 1px solid #D9D9D9 !important;
    background: #FFF;
    border-radius: unset !important;
    color: #01000a8c;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 22px;
    /* margin: 0 !important; */
    min-height: 50px;
}

.form-wrap-ks form ul.inputs-list.multi-container {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.form-wrap-ks form li.hs-form-checkbox label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-wrap-ks form  li.hs-form-checkbox label input {
    width: 21px !important;
}

.hs_is_there_a_rep_you_ve_been_in_contact_with_previously_.hs-is_there_a_rep_you_ve_been_in_contact_with_previously_.hs-fieldtype-select.field.hs-form-field,
.hs_doctor_intake_form__power_line_codes.hs-doctor_intake_form__power_line_codes.hs-fieldtype-checkbox.field.hs-form-field , .hs_text_box_for_notes.hs-text_box_for_notes.hs-fieldtype-textarea.field.hs-form-field
,.legal-consent-container {
    grid-column: span 3;
}

.form-wrap-ks form .hs_mobilephone.hs-mobilephone.hs-fieldtype-phonenumber.field.hs-form-field {
    display: none;
}

.hs-fieldtype-textarea.hs-input {
    padding: 13px 20px;
    width: 100%;
    background-color: #fff !important;
    border: unset;
    border: 1px solid #D9D9D9 !important;
    background: #FFF;
    border-radius: unset !important;
    color: #01000A;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 22px;
    margin: 0 !important;
    min-height: 102px;
}

.form-wrap-ks form  .input {
    display: flex;
}

.form-wrap-ks form  .hs-richtext {
    color: #01000A;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.8;
}


.form-wrap-ks form  .hs-richtext {
    color: #01000A;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    opacity: 0.8;
}

.form-wrap-ks form  .hs-dependent-field ul.inputs-list {
    padding: 0;
    list-style: none;
    width: 100%;
    margin-bottom: 0;
}

.form-wrap-ks form  .hs-dependent-field ul.inputs-list label.hs-form-booleancheckbox-display {
    display: flex;
    align-items: center;
}

.hs-dependent-field ul.inputs-list label.hs-form-booleancheckbox-display input {
    width: 21px !important;
    height: 24px !important;
    min-height: 24px !important;
}

.form-wrap-ks form  .hs-dependent-field ul.inputs-list label.hs-form-booleancheckbox-display span {
    color: #01000A;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    opacity: 0.9;
}

.form-wrap-ks form  .hs_submit.hs-submit {
    margin: 0;
}


.form-wrap-ks form  ul.no-list.hs-error-msgs.inputs-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    width: 100%;
    bottom: -12px;
}

.form-wrap-ks form  ul.no-list.hs-error-msgs.inputs-list label.hs-error-msg.hs-main-font-element {
    font-size: 13px !important;
}

.form-wrap-ks form .hs_error_rollup {
    grid-column: span 3;
}

.form-wrap-ks form .hs_error_rollup ul.no-list.hs-error-msgs.inputs-list {
    position: unset !important;
    margin-bottom: -20px !important;
}

.form-wrap-ks form .hs_error_rollup ul.no-list.hs-error-msgs.inputs-list label.hs-main-font-element {
    font-size: 14px;
    color: red;
}

@media only screen and (max-width: 991px) {
  section.kitting-form {
    padding: 40px 0;
}

.form-wrap-ks form {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.hs_is_there_a_rep_you_ve_been_in_contact_with_previously_.hs-is_there_a_rep_you_ve_been_in_contact_with_previously_.hs-fieldtype-select.field.hs-form-field, .hs_doctor_intake_form__power_line_codes.hs-doctor_intake_form__power_line_codes.hs-fieldtype-checkbox.field.hs-form-field, .hs_text_box_for_notes.hs-text_box_for_notes.hs-fieldtype-textarea.field.hs-form-field, .legal-consent-container {
    grid-column: span 2;
}

.form-wrap-ks form .hs_error_rollup {
    grid-column: span 2;
}

}

@media only screen and (max-width: 600px) { 
.form-wrap-ks form ul.inputs-list.multi-container {
    gap: 15px;
}

.form-wrap-ks form {
    grid-template-columns: 1fr;
     gap: 23px;
}

.hs_is_there_a_rep_you_ve_been_in_contact_with_previously_.hs-is_there_a_rep_you_ve_been_in_contact_with_previously_.hs-fieldtype-select.field.hs-form-field, .hs_doctor_intake_form__power_line_codes.hs-doctor_intake_form__power_line_codes.hs-fieldtype-checkbox.field.hs-form-field, .hs_text_box_for_notes.hs-text_box_for_notes.hs-fieldtype-textarea.field.hs-form-field, .legal-consent-container {
    grid-column: span 1;
}

.form-wrap-ks form .hs_error_rollup {
    grid-column: span 1;
}

.form-wrap-ks form .hs_error_rollup ul.no-list.hs-error-msgs.inputs-list {
    margin-bottom: 0px !important;
}

.form-wrap-ks form ul.no-list.hs-error-msgs.inputs-list {
    bottom: -8px;
}
}
</style>

