.top-inline-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin: 0 0 24px;
}

.middle-header-scope {
    padding: 0 51px;
}

.top-inline-bar button.mega-dropdown {
    display: flex;
    height: 42px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3000px;
    background: #0033A0;
    border: unset;
    color: #FFF;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    text-transform: capitalize;
    cursor: pointer;
}

.header__icons.header__icons--localization.header-localization {
    gap: 20px;
}

.header__icons .header__icon {
    text-decoration: none;
}

.header__icons .header__icon span {
    color: #333;
    text-align: center;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    text-transform: capitalize;
}


.list-menu__item {
    padding: 0;
}

.header--middle-left .header__inline-menu ul.list-menu.list-menu--inline {
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.desktop-localization-wrapper .localization-form:only-child {
    margin: 0;
}

.header__menu-item .icon-caret {
    right: 0;
}

.header--middle-left .header__inline-menu ul.list-menu.list-menu--inline > li > .list-menu__item, header-menu>details > .list-menu__item {
    padding-bottom: 20px;
    color: #141132;
font-family: Prompt;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal; /* 87.5% */
text-transform: uppercase;
}

summary .icon-caret {
    width: 16px;
    height: 16px;
}


.right-header-block .list-social__link {
    padding: 0;
}

.right-header-block ul.list-unstyled.list-social {
    gap: 20px;
    margin-top: 0;
}


.top-inline-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.header {
    align-items: flex-start;
}

.right-header-block {
    display: flex
;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 25px;
}

.cart-count-bubble {
    bottom: auto;
    top: 0;
    border-radius: 3000px;
    background: #0033A0;
}

.cart-count-bubble span {
    color: #FFF !important;
    font-family: Prompt;
    font-size: 11px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    text-transform: capitalize;
}


@media only screen and (max-width: 1240px) {
  .middle-header-scope {
    padding: 0 20px;
}

.header__heading-logo {
    max-width: 200px;
}
}


@media (max-width: 1100px) and (min-width: 990px) {
  .header--middle-left .header__inline-menu {
    margin-left: -200px;
}
}

@media only screen and (max-width: 990px) { 
    .right-header-block ul.list-unstyled.list-social {
    display: none;
}

.right-header-block {
    grid-area: icons;
    padding: 0;
}

.middle-header-scope {
    padding: 0;
    grid-column: span 3;
}

.top-inline-bar {
    margin: 10px 0;
}

.header {
    align-items: center;
}

.header__submenu .header__menu-item {
    color: #141132;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

header-drawer {
    margin-left: 0;
}
.header__icon--menu .icon {
    left: 32px;
}

.list-menu__item {
    padding: 10px 10px 10px 18px;
        color: #141132;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu-drawer__navigation {
    padding: 10px 0;
    border-top: 1px solid #80808057;
}

.header--has-social .menu-drawer__utility-links {
        display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-localization .disclosure .localization-form__select {
    min-width: 100px;
    padding-left: 20px;
    padding-top: 16px;
}

.desktop-localization-wrapper {
    display: none;
}

.right-header-block details-modal.header__search {
    display: none;
}

.header__icons.header__icons--localization.header-localization {
    gap: 20px;
    justify-content: end;
}
}


@media only screen and (max-width: 567px) {
    .header {
    padding: 10px 1.5rem 0px 1.5rem !important;
        grid-template-columns: auto 1fr auto;
}

.header__heading-logo {
    max-width: 170px;
}

.header__icon--menu .icon {
    left: 15px;
}

.header__icons.header__icons--localization.header-localization {
    padding-right: 20px;
}

.top-inline-bar button.mega-dropdown {
    display: none;
}
  }