.top-inline-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin: 0 0 24px;
}

.middle-header-scope {
    padding: 0 71.3px;
}
html[lang="fr"]  .middle-header-scope {
    padding: 0 30px;
}
html[lang="fr"]  .header__icons .header__icon span{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: capitalize;
    word-break: break-word;
}
html[lang="es"]  .middle-header-scope {
    padding: 0 30px;
}
html[lang="fr"] a.iwishDrawer.header__icon span.iwish-counter{
    right: 25px;
}
html[lang="es"]  .header__icons .header__icon span{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: capitalize;
    word-break: break-word;
}
.top-inline-bar button.mega-dropdown {
    display: flex;
    height: 42px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3000px;
    background: #0033A0;
    border: unset;
    color: #FFF;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    text-transform: capitalize;
    cursor: pointer;
}

.header__icons.header__icons--localization.header-localization {
    gap: 20px;
}

.header__icons .header__icon {
    text-decoration: none;
}

.header__icons .header__icon span {
    color: #333;
    text-align: center;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    text-transform: capitalize;
}

.header__icons .header__icon:hover span {
    background: linear-gradient(90deg, #42C5EF 0%, #0033A0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__icons .header__icon:hover svg path {
    stroke: #0033A0;
}


.list-menu__item {
    padding: 0;
}

.header--middle-left .header__inline-menu ul.list-menu.list-menu--inline {
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.desktop-localization-wrapper .localization-form:only-child {
    margin: 0;
}

.header__menu-item .icon-caret {
    right: 0;
}

.header--middle-left .header__inline-menu ul.list-menu.list-menu--inline > li > .list-menu__item, header-menu>details > .list-menu__item {
    padding-bottom: 20px;
    color: #141132;
font-family: Prompt;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal; /* 87.5% */
text-transform: uppercase;
}

summary .icon-caret {
    width: 16px;
    height: 16px;
}


.right-header-block .list-social__link {
    padding: 0;
}

.right-header-block ul.list-unstyled.list-social {
    gap: 20px;
    margin-top: 0;
}


.top-inline-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.header {
    align-items: flex-start;
}

.right-header-block {
    display: flex
;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 25px;
}

.cart-count-bubble {
    bottom: auto;
    top: 0;
    border-radius: 3000px;
    background: #0033A0;
}

.cart-count-bubble span {
    color: #FFF !important;
    font-family: Prompt;
    font-size: 11px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    text-transform: capitalize;
}

.right-header-block li.list-social__item a:hover svg path {
    fill: #0033a0;
}


.header--middle-left .header__inline-menu ul.list-menu.list-menu--inline li.Products, .header--middle-left .header__inline-menu ul.list-menu.list-menu--inline > li:first-of-type {
    display: none;
} 




.header--middle-left .header__inline-menu ul.list-menu.list-menu--inline li:first-of-type details#Details-HeaderMenu-1 {
    position: unset;
}

.header__search-inline input#Search-Inline:focus {
    border-color: #000;
}

ul#tabs-nav li.tabs-li span.tab-icon {
    display: flex;
    align-items: center;
    justify-content: center;
       min-width: 25px;
    max-width: 25px;
    height: 25px;
}

ul#tabs-nav li.tabs-li span.tab-icon svg {
    min-width: 25px;
    min-height: 25px;
      height: 25px;
}

/* Mega Menu */

ul#tabs-nav {
    padding-left: 0;
    list-style: none;
    min-width: 421px;
    padding-left: calc(50% - 1320px / 2);
    overflow: hidden;
}

.tabs {
    display: flex;
}

ul#tabs-nav li.tabs-li a {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    width: 100%;
}

ul#tabs-nav li.tabs-li:last-of-type a {
    padding-bottom: 21px;
}

ul#HeaderMenu-MenuList-1 {
    width: 100%;
    left: 0;
    z-index: 9;
        top: 107.1%;
            width: 100%;
    left: 0;
    padding: 0 0;
    background-color: unset;
    box-shadow: unset;
    box-shadow: 0 5px 5px -5px rgb(0 0 0 / 0.2);

} 

ul#HeaderMenu-MenuList-1  .tabs {
    display: flex;
    background-color: #fff;
    height: 550px;
}

.header__submenu.list-menu {
    border: unset;
}

body.mega-menu-open button.mega-dropdown svg {
    transform: scaleY(-1);
}

div#tabs-content .tab-content {
    display: none;
}

body.mega-menu-open ul#HeaderMenu-MenuList-1 {
    display: block !important;
}

ul#HeaderMenu-MenuList-1 {
    width: 100%;
    left: 0;
}

ul#tabs-nav li.tabs-li.active a {
    /* border-bottom: 1px solid rgba(217, 217, 217, 0.50); */
    /* background: #0033A0; */
    backdrop-filter: blur(12px);
    color: #fff;
}


ul#tabs-nav li.tabs-li.active:after {
    content: '';
    background: #0033a0;
    display: inline-block;
    position: absolute;
    top: 0;
    /* left: -200%; */
    height: 100%;
    width: 500%;
    z-index: 0;
}


li.tabs-li.active:after {
    content: '';
    display: inline-block;
    position: absolute;
    /* background: #0033A0; */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

ul#tabs-nav li.tabs-li  span.tab-icon svg path {
    /* fill: #0033a0; */
}

ul#tabs-nav li.tabs-li.active  span.tab-icon svg path  {
    /* stroke: #fff;
    stroke-width: .7px; */
    fill: #fff;
}

/* ul#tabs-nav li.tabs-li a .right-arw {
    transition: all .4s li;
}
ul#tabs-nav li.tabs-li.active a .right-arw {
    transform: rotate(90deg);
} */

ul#tabs-nav li.tabs-li.active a .right-arw svg path {
    stroke: #fff;
}

ul#tabs-nav li.tabs-li {
    position: relative;
}

ul#tabs-nav li.tabs-li.active a .right-arw {
    transform: rotate(90deg);
}

div#tabs-content {
    flex: 1;
    padding: 30px;
    background: #F7F9FF;
    backdrop-filter: blur(12px);
        padding-right: calc(45% - 1320px / 2);
    }

ul#tabs-nav li.tabs-li a {
    display: flex;
    align-items: center;
    gap: 15px;
        position: relative;
    z-index: 2;
}

.menu-inner {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.menu-inner .collection-menu {
    flex: 1;
}

.mega-menu-layout .mega-menu-left a .cin-icon {
    display: block;
    width: 10px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='16' viewBox='0 0 9 16' fill='none'%3E%3Cpath d='M0.514719 15.5147V0.485281L8.02944 8L0.514719 15.5147Z' fill='url(%23paint0_linear_2203_10026)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2203_10026' x1='-3.24264' y1='11.7574' x2='4.27208' y2='4.24264' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2342C5EF'/%3E%3Cstop offset='1' stop-color='%230033A0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;
}

.menu-inner .featured-product {
    width: 307px;
    height: 360px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    overflow: hidden;
}

.mega-menu-layout {
   display: flex
;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    overflow-y: auto;
    height: 494px;
    padding-bottom: 40px;
}

.mega-menu-layout::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.mega-menu-layout::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.mega-menu-layout::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0033a0;
}

.mega-menu-layout .mega-menu-right {
    width: 307px;
    height: auto;
    flex-shrink: 0;
    position: relative;
}

.mega-menu-layout .mega-menu-right img {
    width: 100%;
    height: 220px;
        object-fit: contain;
    object-position: center;
}

.mega-menu-layout .featured-product-image {
    flex: 1;
    padding: 20px;
    width: 100%;
    padding-bottom: 0;
}

.mega-menu-layout .mega-menu-left.has-featured-product {
    flex: 1;
    column-count: 2;
  
}

.mega-menu-layout .mega-menu-left {
    flex: 1;
    column-count: 3;
  
}

.mega-menu-layout .mega-menu-left > li {
    max-width: 370px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}

.mega-menu-layout .mega-menu-left a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #000;
    font-family: Prompt;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 10px;
        transition: all .3s 
ease;
}

.mega-menu-layout .mega-menu-left a:hover {
    color: #0033a0;
}

.mega-menu-layout .mega-menu-left ul.subcategory-list {
    list-style: none;
    padding-left: 20px;
    margin-bottom: 20px;
}

.mega-menu-layout .mega-menu-left ul.subcategory-list li.view-more-item a {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 10px;
    color: #0033a0;
}

ul#tabs-nav li.tabs-li a .right-arw {
    margin-left: auto;
}

ul#tabs-nav li.tabs-li a .right-arw svg {
    width: 12px;
    height: 12px;
}

.mega-menu-layout .mega-menu-left ul.subcategory-list a.sub-collection-item {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 10px;
        font-family: 'Prompt';
    font-weight: 300;
    letter-spacing: -.16px;
}

.mega-menu-layout .mega-menu-left a p {
    margin: 0;
}

.mega-menu-layout .mega-menu-right .featured-product-card {
    width: 100%;
    height: 100%;
}

.mega-menu-layout .mega-menu-right .featured-product-card a.featured-product-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 10px;
border: 1px solid #D9D9D9;
    display: flex;
    align-items: end;
    text-decoration: none;
        background-position: 50% 15%;
            flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.mega-menu-layout .mega-menu-right .featured-product-info {
    margin: 0;
    background-color: #fff;
    padding: 16px;
    border-radius: 10px;
        width: 100%;
}

.mega-menu-layout .mega-menu-right .featured-product-info p.featured-product-price {
    background: linear-gradient(90deg, #42C5EF 0%, #0033A0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-variant-numeric: ordinal;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 10px;
    display: inline-block;
}

.mega-menu-layout .mega-menu-right .featured-product-card h4.featured-product-title {
    margin: 0 0 15px;
    color: #141132;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -.16px;
}

 .mega-menu-right .sku-info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

 .mega-menu-right .sku-info p {
    margin: 0;
}

 .mega-menu-right .sku-info p {
    margin: 0;
    color: #141132;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 135.3%;
}

 .mega-menu-right .sku-info p.featured-product-sku span {
    color: #7A7A7A;
}

p.featured-product-stock.in-stock {
    display: flex;
    align-items: center;
    gap: 5px;
}

p.featured-product-stock.in-stock span.stock-indicator {
    display: inline-flex;
}

body.product.mega-menu-open ul.list-menu.list-menu--inline {
    pointer-events: none;
}
@media only screen and (max-width: 1240px) {
html[lang="fr"]  .header__icons .header__icon span{
    font-size: 13px;
}

html[lang="es"]  .header__icons .header__icon span{
    font-size: 13px;
}
html[lang="fr"] .header--middle-left .header__inline-menu ul.list-menu.list-menu--inline>li>.list-menu__item, header-menu>details>.list-menu__item{
    font-size: 13px;
}
html[lang="fr"] summary.list-menu__item {
    padding-right: 2.3rem;
}
html[lang="fr"] summary .icon-caret {
    width: 14px;
    height: 14px;
}
html[lang="fr"] .header--middle-left .header__inline-menu ul.list-menu.list-menu--inline{
    gap:10px;
}
html[lang="es"] .header--middle-left .header__inline-menu ul.list-menu.list-menu--inline>li>.list-menu__item, header-menu>details>.list-menu__item{
    font-size: 13px;
}
html[lang="es"] summary.list-menu__item {
    padding-right: 2.3rem;
}
html[lang="es"] summary .icon-caret {
    width: 14px;
    height: 14px;
}
html[lang="es"] .header--middle-left .header__inline-menu ul.list-menu.list-menu--inline{
    gap:10px;
}
}
@media only screen and (max-width: 1280px) {
  .middle-header-scope {
    padding: 0 20px;
}

.header__heading-logo {
    max-width: 200px;
}

}


@media (max-width: 1100px) and (min-width: 990px) {
  .header--middle-left .header__inline-menu {
           margin-left: -245px;
}

/* .top-inline-bar button.mega-dropdown {
    display: none;
} */

/* .header--middle-left .header__inline-menu ul.list-menu.list-menu--inline li.Products {
    display: block;
} */
}

@media only screen and (max-width: 1140px) {  
    ul#tabs-nav {
    min-width: 316px;
}

.mega-menu-layout .mega-menu-right {
    width: 260px;
}
html[lang="fr"]  .header__icons .header__icon{
    max-width:100%;
    width:100%;
}
html[lang="es"]  .header__icons .header__icon{
    max-width:100%;
    width:100%;
}

}

@media only screen and (max-width: 990px) { 
    .right-header-block ul.list-unstyled.list-social {
    display: none;
}

.top-inline-bar button.mega-dropdown {
    display: none;
}

form#HeaderCountryMobileForm {
    display: none;
}

ul#tabs-nav li.tabs-li a span.tab-icon svg {
    width: 20px;
    height: 20px;
}

.right-header-block {
    grid-area: icons;
    padding: 0;
}

.middle-header-scope {
    padding: 0;
    grid-column: span 3;
}

.top-inline-bar {
    margin: 10px 0;
}

.header {
    align-items: center;
}

.header__submenu .header__menu-item {
    color: #141132;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

header-drawer {
    margin-left: 0;
}
.header__icon--menu .icon {
    left: 32px;
}

.list-menu__item {
    padding: 10px 10px 10px 18px;
        color: #141132;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu-drawer__navigation {
    padding: 10px 0;
    border-top: 1px solid #80808057;
}

.header--has-social .menu-drawer__utility-links {
        display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-localization .disclosure .localization-form__select {
    min-width: 100px;
    padding-left: 20px;
    padding-top: 16px;
}

.desktop-localization-wrapper {
    display: none;
}

.right-header-block details-modal.header__search {
    display: none;
}

.header__icons.header__icons--localization.header-localization {
    gap: 20px;
    justify-content: end;
}

.header--has-social .menu-drawer__utility-links {
    position: unset;
}



}


@media only screen and (max-width: 567px) {
    .header {
    padding: 10px 1.5rem 0px 1.5rem !important;
        grid-template-columns: auto 1fr auto;
}

.header__heading-logo {
    max-width: 170px;
}

.header__icon--menu .icon {
    left: 15px;
}

.header__icons.header__icons--localization.header-localization {
    padding-right: 20px;
}

.top-inline-bar button.mega-dropdown {
    display: none;
}
  }


  @media only screen and (max-width: 360px) {
    .header__heading-logo {
        max-width: 115px;
    }
}