.video-section__media {
  --ratio-percent: 56.25%;
  position: relative;
  padding-bottom: calc(var(--ratio-percent) - var(--media-border-width));
}

deferred-media.video-section__media.custom-vh {
      --ratio-percent: 37.49999999999999999999%;
      border-radius: 20px;
    overflow: hidden !important;
}

.video-section h2.title.inline-richtext.h1 {
    margin: 0 0 30px;
    text-align: center;
text-align: center;
font-family: Montserrat;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

/* Needed for gradient continuity with or without animation so that transparent PNG images come up as we would expect */
.scroll-trigger:where(.gradient.video-section__media) {
  background: transparent;
}

.video-section__media.global-media-settings--full-width {
  padding-bottom: var(--ratio-percent);
}

.video-section__media.deferred-media {
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.video-section__media.deferred-media:after {
  content: none;
}

.video-section__poster.deferred-media__poster:focus {
  outline-offset: 0.3rem;
}

.video-section__media iframe {
  background-color: rgba(var(--color-foreground), 0.03);
  border: 0;
}

.video-section__poster,
.video-section__media iframe,
.video-section__media video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.video-section__media video {
  background: #000000;
}

.video-section__media.media-fit-cover video {
  object-fit: cover;
}


.video-section {
  text-align: center;
}

.video-section  a.custom-button.button.button--secondary {
    margin: 30px 0 0;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    min-height: 50px;
}

.video-section a.custom-button.button.button--secondary i {
    min-width: 36px;
    height: 36px;
    width: 36px;
}

.video-section a.custom-button.button.button--secondary i img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    border-radius: 6px;
}

 @media screen and (max-width: 767px) {
  deferred-media.video-section__media.custom-vh {
    --ratio-percent: 100%;
}

.video-section {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.video-section h2.title.inline-richtext.h1 {
    font-size: 24px;
    margin: 0 0 20px;
}
}